@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f6f1f5;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

canvas {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#result {
    font-size: 2rem;
    font-family: 'Kalam', cursive;
}